.main, .search_block, nav {
    display: flex;
}

.search, .search_block {
    width: 100%;
}

.main {
    flex-direction: column;
    align-items: center;
}

.search {
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0 10px;
}

.search_block {
    justify-content: space-between;
    padding-bottom: 50px;
}

.search_block > button {
    margin-left: 5px;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

nav {
    flex-direction: column;
    align-items: flex-end;
}