.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.nav_link {
    padding: 10px 21px;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    margin-left: 10px;
    text-transform: uppercase;
}