* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1000px;
}

a, button {
    text-decoration: none;
    color: black;
}

h3 {
    text-align: center;
    width: 100%;
}

button {
    text-transform: uppercase;
    padding: 7px 20px;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 100px;
    width: 100%;
}